{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% load static %}
{% block style %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<h2 class="last-offers">Last Job Offers</h2>
    <div class="job-list-container">
        <table class="job-table">
            <tbody>
                {% for job in applications %}
                    <tr>
                        <td><p class="item-title">Company Name</p><a href="{% url 'application_view' job.id %}">{{ job.company_name }}</a></td>
                        <td><p class="item-title">Job Name</p>{{ job.job_name }}</td>
                        <td><p class="item-title">Salary</p>{{ job.base_salary }} - {{ job.floor_salary }} {{ job.currency }}</td>
                        <td><p class="item-title">Experience</p>{{ job.get_experience_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
