{% extends 'base.html' %}
{% block title %}Response View{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block style %}<link rel="stylesheet" href="{% static 'css/response_view.css'%}">{% endblock %}

{% block content %}
    <h2 class="response-heading">Responses</h2>
    <div class="response-list-container">
        {% for job in data_job_details %}
            {% for response in job.responses.all %}
                <p>Applicant: {{ response.employee.user.first_name }} {{ response.employee.user.last_name }}</p>
                <p>Application: {{ job.job_name }}</p>

                <a href="#" class="expand-button" data-target="response-{{ response.id }}">Show More</a>
                <div class="expanded-content response-{{response.id}}">
                    <p>Email: {{response.employee.user.email }}</p>
                    <p>CV: <a href="{{ response.file.url }}">{{ response.file.name }}</a></p>
                    <p>Message</p>
                    <div class="message-area">
                        <p>{{response.message}}</p>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const expandButton = document.querySelectorAll(".expand-button");

        expandButton.forEach(button => {
            button.addEventListener('click', () => {
                const targetSelector = button.dataset.target;
                const expandContent = document.querySelector(`.${targetSelector}`);
    
                if(expandContent) {
                    if (expandContent.style.display === 'none') {
                        expandContent.style.display = "block";
                    } else {
                        expandContent.style.display = "none";
                    }
                }
            });
        })

    </script>
{% endblock %}